<div class="fileselect clearfix">
<label for="upload_file"><%= t(:select_file,:scope=>:compose) %></label>:&nbsp;
<%= file_field 'file', 'data' %>
<%= raw single_action('upload','compose','up.png') %>
</div>




