= will_paginate @notes , :class => "custom_pagination bottom-pix18"

%table{:class=>"table table-bordered records"}
	%thead
		%tr
			%th
				%input{:id=>"toggleall",:type=>"checkbox",:name=>"allbox"}
			= raw notes_table_header
	%tbody
		- @notes.each do |note|
			= render :partial => 'note', :locals => {:note => note}

= will_paginate @notes , :class => "custom_pagination bottom-pix18"
