%tr
  %td{:nowrap=>"nowrap"}
    = check_box_tag "items_ids[]", note.id
    \/
    = link_to "<i class=\"icon-edit\"></i>".html_safe,edit_note_path(note)
  %td{:nowrap=>"nowrap"}
    = link_to note.title, edit_note_path(note)
