- if @system_folders.empty? and @other_folders.empty?
  .well.narrow
    %p
      = t(:no_shown, :scope => :folder) 
      = link_to t(:folders, :scope => :folder), folders_path
- else
  = render :partial => "folders/group", :locals => {  :folders=> @system_folders,
                                                      :desc => t(:system_folders, :scope => :folder) }
  = render :partial => "folders/group", :locals => { :folders=> @other_folders,
                                                      :desc => t(:others_folders, :scope => :folder) }