<div class="attachments">
<span class="title"><%= t(:attachments,:scope=>:message) %></span>
<table class="table">

<% trclass = :even %>
<% for idx in 0..@attachments.size-1 %>
<% @attachments[idx].idx = idx %>
<tr class="<%= trclass.to_s %>">
        <%= render :partial => 'attachment', :object => @attachments[idx] %>
</tr>
<% trclass == :even ? trclass = :odd : trclass = :even %>
<% end %>
</table>
</div>
