<div id="ops" class="ops">
    <%= raw group_action_text(@multi1_buttons,t(:checked,:scope=>:message) + " " + t(:to_folder,:scope=>:folder)+ " " + simple_select_for_folders("folder","target",@folders_shown,'',true)) %>
    <%= raw group_action(@multi2_buttons) %>
</div>
