<% if not flash.size.zero? %>
<div class="flash">
<% flash.each do |key, msg| %>
<% unless msg.blank? %>
<% if msg.class.eql?(Hash) %>
<% f = content_tag :p, msg[:title] %>
<% f += content_tag :p, msg[:info], :class=> "info" %>
<% else %>
<% f = content_tag :p, msg %>
<% end %>
<%= content_tag(:div,f, :class => "message #{key.to_s}" )%>
<%= flash[key.to_sym]='' %>
<% end %>
<% end %>
</div>
<% end %>
