= render :partial => "common/input_form_desc_field",:locals => {:object => @contact,
																																		:attr => 'name',
																																		:label => nil,
																																		:example => 'Joe Doe',
																																		:value => @contact.name,
																																		:to_class=>"span6" }
= render :partial => "common/input_form_desc_field",:locals => {:object => @contact,
																																		:attr => 'email',
																																		:label => nil,
																																		:example => 'joe.doe@domain.com',
																																		:value => @contact.email,
																																		:to_class=>"span6" }																																		
= render :partial => "common/input_form_desc_field",:locals => {:object => @contact,
																																		:attr => 'info',
																																		:label => nil,
																																		:example => t(:some_add_info,:scope=>:common),
																																		:value => @contact.info,
																																		:to_class=>"span6" }
