<div class="row">
  <div class="small-6">
  <div class="small-3 columns">
    <label for="right-label" class="right inline">{{i18n identity.name}}</label>
  </div>
  <div class="small-9 columns">
    {{input type="text" value=name}}
  </div>
  </div>
</div>
<div class="row">
  <div class="small-6">
  <div class="small-3 columns">
    <label for="right-label" class="right inline">{{i18n identity.domain}}</label>
  </div>
  <div class="small-9 columns">
    {{input type="text" value=domain}}
  </div>
  </div>
</div>
