<div class="row">
  <div class="small-6">
  <div class="small-3 columns">
    <label for="right-label" class="right inline">{{i18n lookandfeel.language}}</label>
  </div>
  <div class="small-9 columns">
    {{view Ember.Select content=languages value=language}}
  </div>
  </div>
</div>
