<%= form_tag(folders_delete_path) %>
<div class="params">
<%= raw select_for_folders("folder","delete",@folders,t(:to_delete,:scope=>:folder),"",true) %>
<%= raw form_button('delete','cross.png') %>
</div>
</form>
