<div class="params">
<%= raw form_field(@current_user,
					"first_name",
					nil,
					"Joe",
					@current_user.first_name
					) %>
<%= raw form_field(@current_user,
					"last_name",
					nil,
					"Doe",
					@current_user.last_name
					) %>
<%= raw form_field(@current_user,
					"domain",
					nil,
					"domain.com",
					@current_user.domain
					) %>
</div>
<%= raw single_action('save','common','save.png') %>
