<table class="table">
<tbody>
<tr>
<th class="first"><input id="toggleall" class="checkbox toggle" type="checkbox" name="allbox"/></th>
<%= raw servers_table_header %>
<th class="last"></th>
</tr>
<% trclass = :even %>
<% @servers.each do |s| %>
<tr class="<%= trclass.to_s %>">
<%= render :partial => 'prefs/server', :object => s %>
</tr>
<% trclass == :even ? trclass = :odd : trclass = :even %>
<% end %>
</tbody>
</table>
