<div class="row">
  <div class="large-3 columns">
    {{ partial 'logo' }}
    {{ partial 'version' }}
    {{ outlet sidebar }}
  </div>
  <div class="large-9 columns">
    <div class="row">
      <dl class="sub-nav top-menu">
        <dd>New message</dd>
        <dd>Messages</dd>
        <dd>{{#link-to 'folders'}}Folders{{/link-to}}</dd>
        <dd>{{#link-to 'settings'}}Settings{{/link-to}}</dd>
      </dl>
    </div>
    <div class="row">
      {{ outlet main }}
    </div>
  </div>
</div>
