<ul class="side-nav">
  {{#each folder in controller.system}}
  {{partial 'folderListItem'}}
  {{else}}
    <div data-alert class="alert-box warning radius">
    {{i18n folders.none_shown}}
    </div>
  {{/each}}
</ul>

{{#if notSystemCount}}
  <hr/>
{{/if}}

<ul class="side-nav">
  {{#each folder in controller.notSystem}}
  {{partial 'folderListItem'}}
  {{/each}}
</ul>
