<ul class="side-nav">
  {{#if controller.folders }}
  {{#each folder in controller.folders }}
  <li>{{#link-to 'folder.messages' folder}} {{ folder.name }} <span class="label round right">10</span> {{/link-to}}</li>
  {{/each}}
  {{ else }}
  {{#each folder in controller}}
  <li>{{#link-to 'folder.messages' this}} {{ folder.name }} <span class="label round right">10</span> {{/link-to}}</li>
  {{/each}}
  {{/if}}
</ul>
