body.simple
	margin-top: 20px
	margin-bottom: 20px

#footer-simple
	text-align: center

.top-pix18
	margin-top: 18px

body.application
	margin-top: 10px
	margin-bottom: 10px

#sidebar
	.logo
		img
			margin-bottom: 10px
			
p.version
	text-align: center

tr.unseen
	font-weight: bold

.bottom-pix18
	margin-bottom: 18px
	
table.header
	td.field_name
		text-align: right
		font-weight: bold
		padding-right: 10px

p.help-block
	font-size: 10px
	
.custom_pagination
	text-align: right
	a,span,em
		line-height: 18px
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
		margin-bottom: 0
		margin-left: 0
		border: 1px solid #DDDDDD
		padding: 3px
		
table.records
	font-size: 12px
	td
		padding: 4px
		
iframe
	width: 700px 
	height: 800px

.well.narrow
	padding: 7px