.sub-nav dt a.active, .sub-nav dd a.active, .sub-nav li a.active {
    border-radius: 3px 3px 3px 3px;
    font-weight: normal;
    background: none repeat scroll 0% 0% rgb(0, 140, 186);
    padding: 0.16667rem 0.88889rem;
    cursor: default;
    color: white;
}

span.logo {
  color: orange;
  font-weight: bold;
}

.version {
  text-align: center;
}

.top-menu {
  margin-top: 10px;
}

